select {
  appearance: none;
  padding: 0.5rem 10px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #526d82;
  color: #dde6ed;
}
select:focus {
  outline: none;
  border: none;
}
.dropdown {
  appearance: none;
  border: none;
  padding-left: 10px;
  outline: none;
}
