.container {
  width: 100%;
  max-width: 1024px;
  padding: 1rem;
  margin: auto;
  overflow-x: scroll;
}
.title {
  text-align: center;
  margin: 1rem auto;
  font-size: clamp(2rem, 4vw + 1rem, 3rem);
  color: #dde6ed;
}
.attribution {
  text-align: center;
  font-size: 15px;
  color: #dde6ed;
}
a {
  font-size: 15px;
  color: #526d82;
  text-decoration: none;
  margin: 0px 5px;
}
